<!DOCTYPE html>
<html>
<head>
  <title>ToDoList50</title>
  <%= stylesheet_link_tag    "theme2", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "theme2", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<footer id="footer">
    <hr>
                      <p>&copy; John Wesley Chan X Sean Tristan Yu 2014</p>
  </footer>
</body>
</html>
